* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'AppleSDHeavy';
    src: url('./font/AppleSDGothicNeoH.woff') format('woff');
}

  ::selection {
    color: rgb(0, 0, 0);
    background: rgb(223, 223, 223);
  }

body{
    color: #2e2e2e;
}

  
a:link { text-decoration: none;}
a:visited { text-decoration: none;}
a:hover { text-decoration: none;}
a {color: black;}

/* StartPage */

#StartPage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    -webkit-user-select:none;
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none
}

#BookPage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    height: 100vh;
    -webkit-user-select:none;
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none
}

#StartPageComponent{
    height: 44.1360vh;
    width: 66.9560vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#StartPageTitleComponent{
    height: 44.1360vh;
    width: 33.7963vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#StartPageTitleText{
    height: 17.9051vh;
    width: 33.7963vw;
    text-align: left;
    font-size: 70px;
    font-family: 'AppleSDHeavy';
}

#StartPageTitleSubComponent{
    height: 12.1754vh;
    width: 33.7963vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#StartPageBar{
    height: 3vh;
    width: 15vw;
}

#StartPageBarBox{
    background-color: #000000;
    height: 3px;
    width: 30px;
    border-radius: 1.5px;
}

#StartPageTitleSubTitle{
    height: 8.952vh;
    width: 15vw;
    font-weight: 400px;
    font-size: 22px;
    text-align: left;
    line-height: 50px;
}

#StartPageLinkComponent{
    height: 44.1360vh;
    width: 2.9167vw;
}

#StartPageLinkBox {
    height: 17.9051vh;
    width: 2.9167vw;
}

#StartPageLink{
    height: 42px;
    width: 42px;
    padding-bottom: 30px;
}

/* IntroducePage */

#IntroducePage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    height: 100vh;
}

#IntroducePageComponent { 
    width: 1118px;
    height: 641px;
}

#IntroducePageProfileImg{
    width: 328px;
    height: 331px;
}

#IntroducePageInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#IntroducePageInfoMe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 295px;
    margin-top: 36px;
}

#IntroducePageInfoMeName {
    width: 669px;
}

h5.IntroducePageTitle{
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
}

h5.IntroducePageOneLine{
    font-size: 18px;
    font-weight: lighter;
}

#IntroducePageInfoMore {
    display: flex;
    justify-content: space-between;
    width: 614px;
}

#IntroducePageInfoMoreBox {
    height: 120px;
}

#IntroducePageTitle {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
}

#IntroducePageImgTextWrapper {
    margin-top: 19px;
}

#IntroducePageImgText {
    display: flex;
    flex-direction: row;
    margin-top: 14px;
}

#IntroducePageImg{
    height: 22px;
    width: 22px;
}

h5.IntroducePageInfoMoreText{
    font-size: 18px;
    font-weight: lighter;
    margin-left: 15px;
}

#IntroducePageIntroMeWrapper {
    width: 100%;
    height: 215px;
    margin-top: 95px;
    display: flex;
    justify-content: center;
}

#IntroducePageIntroMe {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: lighter;
    line-height: 50px;
    position: relative;
    -webkit-user-select:none;
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none
}
/* CanDoPage */

#CanDoPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    -webkit-user-select:none;
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none
}

#CanDoPageComponent { 
    width: 59vw;
    height: 58vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#CanDoPageTitleBox {
    height: 42px;
    width: 59vw;
}

#PageTitle {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
}

#CanDoPageContentBox {
    width: 59vw;
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#CanDoPageTopContentBox {
    width: 59vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#CanDoPageDownContentBox {
    width: 59vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#CanDoPageLeftSkillBox {
    width: 24vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#CanDoPageRightSkillBox {
    width: 24vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#CanDoPageSkillBox {
    border-radius: 14px;
    width: 24vw;
    height: 7.878vh;
    box-shadow: 0px 4px 20px #E3E3E3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#CanDoPageSkillTextBox {
    width: 24vw;
    height: 10vh;
    font-size: 17px;
    font-weight: lighter;
    line-height: 27px;
}

#CanDoPageSkillComponentBox {
    width: 21.5vw;
    height: 3.6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#CanDoPageSkillName {
    font-size: 16px;
    font-weight: bold;
}

#CanDoPageSkillgauge {
    width: 21.5vw;
}

#CanDoPageSkillImg {
    width: 21.5vw;
}

/* ProjectPage */

#ProjectPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    height: 100vh;
    -webkit-user-select:none;
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none
}

#ProjectPageComponent {
    width: 59vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#ProjectPageTitleBox {
    width: 59vw;
}

#ProjectPageSubTitleBox {
    margin-top: 23px;
    font-size: 20px;
    font-weight: lighter;
    line-height: 35px;
}

#ProjectPageProjectBox {
    display: flex;
    justify-content: space-between;
    width: 59vw;
    height: 50.44vh;
}

#ProjectPageWhiteBox {
    width: 18.58vw;
    height: 50.44vh;
    box-shadow: 0px 4px 20px #E3E3E3;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#ProjectPageShadowBox{
    position: relative;
    background-color: #6d6d6d;
    width: 18.58vw;
    height: 50.44vh;
    top: -50.44vh;
    border-radius: 30px;
    transition: 0.4s;
    opacity: 0;
}

#ProjectPageShadowBox:hover{
    opacity: 0.3;
    transition: 0.4s;
}

#ProjectPageWhiteBoxComponent {
    width: 12.7vw;
    height: 40.5vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

#ProjectPageWhiteBoxText {
    width: 12.7vw;
    height: 4.7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#ProjectPageWhiteBoxImg {
    width: 12.7vw;
    height: 28.85vh;
    margin-bottom: 20px;
}

#ProjectPageWhiteBoxSubTitle {
    font-size: 20px;
    font-weight: lighter;
}

.ProjectPageWhiteBoxEZY {
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(to right top, #6B40FF 10%, #D2DBFF 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ProjectPageWhiteBoxGOOUT {
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(to right top, #6886C5 10%, #FFACB7 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ProjectPageWhiteBoxInFrame {
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(to right top, #6886C5 10%, #FFACB7 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* EZYProjectPage */

#EZYProjectPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    height: 100vh;
    -webkit-user-select:none;
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none
}

#EZYProjectComponent {
    width: 59vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#EZYProjectTopBox {
    width: 59vw;
    height: 11.4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#EZYProjectTopInfoBox {
    width: 59vw;
    height: 7.1vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

#EZYProjectTopInfoTextBox {
    width: 10.41vw;
    height: 7.1vh;
}

#EZYProjectSkillBox {
    width: 24.5vw;
    height: 3.4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#EZYProjectSwiftSkill {
    width: 5.2vw;
    height: 3.4vh;
    border-radius: 20px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    color: #606060;
}

#EZYProjectSnapkitSkill {
    width: 5.9vw;
    height: 3.4vh;
    position: relative;
    border-radius: 20px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    color: #606060;
}

#EZYProjectThenSkill {
    width: 4.9vw;
    height: 3.4vh;
    border-radius: 20px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    color: #606060;
}

#EZYProjectAlamofireSkill {
    width: 6.3vw;
    height: 3.4vh;
    border-radius: 20px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    color: #606060;
}

#EZYProjectBottomBox {
    width: 59vw;
    height: 55.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#EZYProjectContentsBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 34.7vw;
    height: 55.5vh;
}

#EZYProjectTopContent {
    width: 34.7vw;
    height: 14.3vh;
}

#EZYProjectContentTitle{
    font-size: 18px;
    font-weight: 500;
}

#EZYProjectContentSubTitle{
    font-size: 17px;
    font-weight: lighter;
    line-height: 27px;
    margin-top: 12px;
}

#EZYProjectMiddleContent {
    width: 34.7vw;
    height: 17.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#EZYProjectBottomContent {
    width: 34.7vw;
    height: 17.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#EZYProjectAppImgBox {
    width: 17.9vw;
    height: 54vh;
}

#InFrameProjectAppImgBox {
    width: 15.9vw;
    height: 54vh;
}

#EZYProjectPeople{
    font-size: 20px;
    font-weight: lighter;
}

#EZYProjectName{
    font-size: 45px;
    font-weight: bold;
    background: linear-gradient(to right top, #a39fe8 10%, #ffc2ca 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#EZYProjectTopInfoLinkBox {
    width: 12vw;
    height: 7.1vh;
    text-align: right;
}

#EZYProjectLinkBox{
    width: 5.5vw;
    height: 4.3vh;
    float: right;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
}

#EZYProjectNotionLink{
    width: 4.3vh;
    height: 4.3vh;
    cursor: pointer;
}

#EZYProjectFigmaLink{
    width: 4.3vh;
    height: 4.3vh;
    cursor: pointer;
}


#EZYProjectGithubLink{
    width: 4.3vh;
    height: 4.3vh;
    cursor: pointer;
}

/* EZYProjectDesignPage */

#EZYProjectDesignPage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    height: 100vh;
    -webkit-user-select:none;
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none
}

#EZYProjectDesignComponent{
    height: 60.17vh;
    width: 59vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#EZYProjectOneComponent{
    height: 60.17vh;
    width: 17.2vw;
}

#EZYProjectLeftComponentImg{
    height: 60.17vh;
    width: 17.2vw;
    margin-top: -3vh;
}

#EZYProjectMiddleComponentImg{
    height: 60.17vh;
    width: 17.2vw;
}

#EZYProjectRightComponentImg{
    height: 60.17vh;
    width: 17.2vw;
    margin-top: 3vh;
}

#GOOUTProjectSkillBox {
    width: 17.5vw;
    height: 3.4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* TeamPage */

#TeamPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
        height: 100vh;
    -webkit-user-select:none;
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none
}

#TeamPageComponent {
    width: 59vw;
    height: 52.23vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#TeamPageText {
    width: 59vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#TeamPageItem {
    width: 59vw;
    height: 27.9vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#TeamPageTitleText {
    width: 59vw;
    height: 3.58vh; 
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

#TeamPageContentText {
    width: 59vw;
    height: 9.4vh;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 20px;
    font-weight: lighter;
    line-height: 35px;
}

#TeamPageWhiteBox {
    width: 13vw;
    height: 27.9vh;
    box-shadow: 0px 4px 20px #E3E3E3;
    border-radius: 20px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: relative;
}

#TeamPageWhiteComponentBox {
    width: 9.5vw;
    height: 21.96vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#TeamPageShadowBox{
    position: absolute;
    background-color: #6d6d6d;
    width: 13vw;
    height: 27.9vh;
    border-radius: 20px;
    transition: 0.4s;
    opacity: 0;
}

#TeamPageShadowBox:hover{
    opacity: 0.3;
    transition: 0.4s;
}


#TeamPageWhiteComponentText {
    width: 9.5vw;
    height: 2.96vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

#TeamPageWhiteComponentImg {
    width: 9.5vw;
    height: 16.96vh;
}

#TeamPageTeamName {
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: #717171;
}

#TeamPageTeamText {
    font-size: 12px;
    font-weight: lighter;
    margin-left: 10px;
}

/* themoment */

#TheMomentProjectName{
    width: 50vw;
    font-size: 45px;
    font-weight: bold;
    background: linear-gradient(to right top, #434C9C 10%, #C4DFDB 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ThemomentProjectAppImgBox{
    width: 24.9vw;
    height: 54vh;
}

#ThemomentProjectContentsBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28.7vw;
    height: 55.5vh;
}

/* SHAPage */

#SHAProjectName{
    width: 50vw;
    font-size: 45px;
    font-weight: bold;
    background: linear-gradient(to right top, #DDE7CC 10%, #a7baff 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#SHAProjectAppImgBox{
    width: 17.9vw;
    height: 54vh;
}

/* PicnicTeamProjectPage */

#PicnicProjectName{
    font-size: 45px;
    font-weight: bold;
    background: linear-gradient(to right top, #FFACB7 10%, #86A1D9 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#DooryteeProjectAppImgBox{
    width: 24.9vw;
    height: 54vh;
}

/* BookPage */

#BookPageComponent {
    width: 59vw;
    height: 65.89vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

#BookPageItem {
    width: 59vw;
    height: 44vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#BookPageTopItem{
    width: 59vw;
    height: 19vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#BookPageText{
    width: 29.17vw;
    height: 19vh;
}

#BookPageImg{
    width: 22.45vw;
    height: 21vh;
}

#BookPageText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#BookPageBookTitle{
    font-size: 18px;
}

#BookPageBookContent {
    font-size: 18px;
    line-height: 27px;
    font-weight: lighter;
}

/* EndPage */

#EndPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    height: 100vh;
    -webkit-user-select:none;
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none
}

#EndPageThanks {
    font-size: 100px;
    color: #b3b3b3;
    font-weight: bolder;
    letter-spacing: 10px;
}